@model CondoVision.Data.Entities.Company

@{
    ViewData["Title"] = "Editar Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-info card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Detalhes da Empresa</h3>
                    </div>
                    <form asp-action="Edit">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CompanyTaxId" class="control-label"></label>
                                <input asp-for="CompanyTaxId" class="form-control" />
                                <span asp-validation-for="CompanyTaxId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Contact" class="control-label"></label>
                                <input asp-for="Contact" class="form-control" />
                                <span asp-validation-for="Contact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right"><i class="fas fa-save"></i> Guardar</button>
                            <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar à Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
