@{
    ViewData["Title"] = ViewData["Title"];
}

<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<div class="card mt-4">
    <div class="card-header">
        As Minhas Frações e Informações
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Ver Minhas Frações (em breve)</li>
        <li class="list-group-item">Ver Meus Pagamentos (em breve)</li>
        <li class="list-group-item">Comunicados do Condomínio (em breve)</li>

    </ul>
</div>


