@{
    ViewData["Title"] = "Não Autorizado";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm border-0 rounded-lg text-center p-4" style="max-width: 500px;">
        <div class="card-body">
            <h1 class="display-4 text-danger mb-3">Acesso Negado!</h1>
            <p class="lead mb-4">Você não tem permissão para acessar esta página.</p>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-lg">Voltar para o Início</a>
        </div>
    </div>
</div>

